/Practica1/build/
/Practica3_CDI/nbproject/private/
/Practica3_CDI/build/
/Practica3/build/
/Practica3/nbproject/private/
/Practica4/nbproject/private/
/Practica4/build/
/PruebaO/nbproject/private/
/PruebaO/build/
/Practica5/nbproject/private/
/Practica5/build/
/Practica6/nbproject/private/
/Practica6/build/